.no-internet-container {
  position: fixed;
  top: 0;
  left: 0;
  height: 100vh;
  width: 100vw;
  z-index: 10001;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: rgba(0, 0, 0, 0.5);

  .ni-data-text {
    font-size: 16px;
    color: var(--primary);
    padding: 32px;
    background-color: var(--white);
    border-radius: 12px;
  }
}
