.modal {
  &.season-modal-container {
    display: flex;
    flex-direction: column;
    gap: 8px;
  }
}

.season-modal-container {
  .modal-body-container {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 8px;
    height: 100%;

    .img-league-container {
      display: flex;
      flex-direction: column;
      justify-content: space-around;
      gap: 16px;
    }

    .league-details {
      display: flex;
      justify-content: space-between;
      align-content: center;
      width: 100%;

      .league-name {
        text-align: left;
        margin: 0 0 8px 0;
        font-size: 16px;
        color: var(--black);
      }

      .sport-name {
        font-size: 14px;
        color: var(--primary);
        font-weight: 500;
        text-align: right;
      }
    }

    .season-details {
      display: flex;
      justify-content: space-between;
      align-items: center;
      width: 100%;

      .league-alt-name {
        font-size: 12px;
        color: var(--secondary);
      }
      .season-name {
        font-size: 14px;
        color: var(--black);
        text-align: right;
      }
    }
  }

  .season-img {
    width: 100%;
    border-bottom: 1px solid var(--primary);
  }

  .modal-close-container {
    display: flex;
    justify-content: center;
    align-items: center;
    justify-self: flex-end;

    .modal-close-button {
      background: var(--primary);
      color: var(--white);
      padding: 4px 8px;
      border-radius: 4px;
      border: 1px solid var(--primary);
      cursor: pointer;
      min-height: 30px;
      width: 100%;
    }
    .modal-close-button:hover {
      background-color: var(--primary-80);
      border: 1px solid var(--primary-80);
    }
  }
}

// Animations css
@keyframes zoomIn {
  from {
    transform: scale(0.7);
    opacity: 0;
  }
  to {
    transform: scale(1);
    opacity: 1;
  }
}

.zoom-in {
  animation: zoomIn 0.3s ease-out;
}
.season-modal-container {
  animation: zoomIn 0.3s ease-out;
  transform-origin: center center; // makes it zoom from middle

  .modal-body-container {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 8px;
    height: 100%;
  }
}

@media screen and (max-width: 768px) {
  .modal {
    &.season-modal-container {
      margin: 0px 12px;
      min-width: 70%;
      .modal-body-container {
        padding: 0px 12px;
        .img-league-container {
          .season-img {
            width: 100%;
            min-width: none;
          }
        }
      }
      .modal-close-container {
        .modal-close-button {
          height: 40px;
        }
      }
    }
  }
}
